@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
}

body[data-scroll-locked] {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.header {
  padding: 1rem 0;
  border-bottom: 1px solid #f1f0f2;
}

button {
  font-size: 0.875rem;
}

@layer components {
  .form-field {
    @apply font-medium rounded-md leading-7 text-sm py-1.5;
  }

  .form-field-focus {
    @apply focus:ring-1 focus:ring-primary focus:outline-none;
  }

  .form-field::placeholder {
    color: #aeaeae;
    font-weight: 400;
  }
}
